<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iaik.bacc.camilla.androidcredentialstore">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>

    <application
        android:name="iaik.bacc.camilla.androidcredentialstore.CredentialApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity
            android:name="iaik.bacc.camilla.androidcredentialstore.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="iaik.bacc.camilla.androidcredentialstore.activities.BluetoothActivity"
            android:label="@string/bluetooth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="iaik.bacc.camilla.androidcredentialstore.activities.ShowAccountsActivity"
            android:label="@string/show_credentials">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="iaik.bacc.camilla.androidcredentialstore.activities.ChangeAccountActivity"
            android:label="@string/change_credential"
            android:parentActivityName="iaik.bacc.camilla.androidcredentialstore.activities.ShowAccountsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="iaik.bacc.camilla.androidcredentialstore.activities.AddCredentialActivity"
            android:label="@string/add_credential"
            android:parentActivityName="iaik.bacc.camilla.androidcredentialstore.activities.ShowAccountsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>